body {
    font-family: Arial, sans-serif;
    background: #f1f0f0;
    /* background: linear-gradient(rgb(255, 255, 255) 0%, 
    rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgba(250,57,173,1) 100%); */
    height: 100vh;
}

#header {
    background-color: #3f9090;
    color: white;
    height: 130px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 3%;
}

#content1,
#content2,
#content3,
#content4 {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height:auto;
    /* width: auto; */

}

#content1 img,
#content2 img,
#content3 img,
#content4 img {
    float: left;
    margin-left: 15%;
    padding: 20px;
    border: #3f9090 2px dashed;
    width: 33%;
    height: 210px;
    border-radius: 15px;
}



h1 {
    font-size: 45px;
    text-align: center;
}

/* 
img {
    width:50px;
    height: 50px;
} */

#bio {
    margin-top: 20px;
}

#social-links {
    margin-top: 20px;
}

#social-links button {
    display: inline-block;
    /* margin-right: 10px; */
    width: 120px;
    height: 50px;
    color: #3f9090;
    background-color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 25%;
    transition: all 0.2s ease-in-out;
    font-size: 22px;
    font-weight: 400;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}

#social-links button:hover {
    transform: scale(1.1);
}

.copyright {
    color: #3f9090;
    margin-top: 2%;
    display: flex;
    justify-content: right;

}




