a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    text-align:center;
    width:70px;
    height: 30px;
    border-radius: 15px;
    font-weight: bold;
    font-size:30px;
  }
  
  a:hover {
    background-color: #1b6969;
    color: #ddd;
  }
  
  .previous {
    background: #ddd;
    color: black;
  }
  
  .copyright{
    display: block;
    /* float: right; */
    margin-top: 10px;
    color:  #1b6969;
    background-color: #e0f4f4;
    font-size:25px;
    font-weight:bold;
    padding: 1%;
  }

  .copyright > a {
    color:  #1b6969;
  }
  