/* Default styles for mobile devices */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.navbar-brand a {
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-right: 90px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-decoration: none;
}

/* Media query for screens larger than 768px */
@media (min-width: 768px) {
    .navbar {
        max-width: 1200px;
        margin: 0 auto;
    }
}
