.background {
    background: linear-gradient(to bottom, #fa39ad 40%, #fe6c4c 50%);
    filter: blur(120px);
    box-shadow: 0.5px 10px #e6e6e6;
    transition: 0.3s ease-in-out; 
    background-position: center;
}


.wrapper {
    position: fixed;
    padding-top: 80px;
    width: 100%;
    height:100%;
    background-color: antiquewhite;
    opacity: 80%;
    justify-content: center;
    justify-items: center;
    box-shadow: 0.5px 10px #e6e6e6;
    transition: 0.3s ease-in-out; 
    border-radius: 25px;
    text-align: center;
}

.container {
    height: 300px;
    width: 375px;
    background-color: whitesmoke;
    box-shadow: 0.5px 10px #e6e6e6;
    transition: 0.3s ease-in-out; 
    text-align: center;
    border-radius: 25px;
}

.card {
    height: auto;
    width: 160px;
    background-color: whitesmoke;
    margin: 30px auto;
    box-shadow: 0.5px 10px #e6e6e6;
    transition: 0.3s ease-in-out; 
    text-align: center;
}

.multigradient {
    width: 100%;
    height: 800px;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgba(250,57,173,1) 100%);
    border-radius: 25px;
}

.circle {
    width: 450px;
    height: 450px;
    background: linear-gradient(to bottom, #fa39ad 40%, #fe6c4c 50%);
    filter: blur(120px);
}
