body {
    margin: 8%;
    display: flex;
    justify-content: center;
}

.background {
    background: linear-gradient(to bottom, #fa39ad 40%, #fe6c4c 50%);
    filter: blur(120px);
    box-shadow: 0.5px 10px #e6e6e6;
    transition: 0.3s ease-in-out; 
    background-position: center;
}

.wrapper {
    padding-top: 80px;
    width: 700px;
    height:800px;
    background-color: antiquewhite;
    opacity: 60%;
    justify-content: center;
    justify-items: center;
    box-shadow: 0.5px 10px #e6e6e6;
    transition: 0.3s ease-in-out; 
    border-radius: 25px;
    text-align: center;
}

.container {
    height: 200px;
    width: 375px;
    background-color: whitesmoke;
    box-shadow: 0.5px 10px #e6e6e6;
    transition: 0.3s ease-in-out; 
    text-align: center;
    border-radius: 25px;
}

.card {
    height: auto;
    width: 160px;
    background-color: whitesmoke;
    margin: 30px auto;
    box-shadow: 0.5px 10px #e6e6e6;
    transition: 0.3s ease-in-out; 
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app-container {
    background: #FAFDF6;
    /* background: #f3f3ff; */
    min-height: 940px;
    width: 100%;
    height: 100vh;
}

.circle {
    
    /* background: linear-gradient(to bottom, #AFD2E9 40%, #0E9594 50%);
    filter: blur(130px); */
    /* background: linear-gradient(to bottom, #fa39ad 40%, #fe6c4c 50%);
    filter: blur(120px); */
}
